# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Archivos temporales
*.zip
material/
data/raw/
artifacts/

# Graficos generados al ejecutar notebooks
/*.png
/*.jpg
/*.jpeg
/*.svg

# Sistema
.DS_Store
Thumbs.db
